<h2 mat-dialog-title>Documents</h2>

<mat-dialog-content>
    <div class="row">
        <!--<div class="row" *ngFor="let item of documents; index as i;">-->
        <!--<div class="col-sm-12 col-sm-12 col-md-6 col-lg-10 col-xl-10">
                {{item.name}}
            </div>
            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <button mat-icon-button (click)="downloadFile(item.id, item.name)"  color="primary"> <mat-icon>file_download</mat-icon></button>
            </div>-->
    
        <div class="card col-12">
            <div class="card-header">My documents</div>
            <ul class="list-group list-group-flush" *ngFor="let item of documents; index as i;">
                <li class="list-group-item">
                    <a>{{ item.name }}</a>
                    <button mat-icon-button (click)="downloadFile(item.id, item.name)" color="primary">
                        <mat-icon>file_download</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteFile(item)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions class="align-right custom-mat-dialog-actions">
    <button style="margin-right: 10px;" mat-raised-button color="warn" (click)="cancel()" mat-dialog-close>
        <mat-icon aria-label="Cancel">cancel</mat-icon>
        Cancelar
    </button>

</mat-dialog-actions>