<h2 mat-dialog-title>{{entityDto.id > 0 ? 'Edit' : 'Add'}}</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div class="row">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <h2>wait...</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="outline" floatLabel="always" color="primary">
                    <mat-label>Name y surnames</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-hint>Fill in name.</mat-hint>
                    <mat-error *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)">
                        <span *ngIf="nameControl.hasError('required')">
                            You must fill in the name.
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="outline" floatLabel="always" color="primary">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </div>
        
        </div>
  
</mat-dialog-content>

    <mat-dialog-actions class="align-right custom-mat-dialog-actions">

        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
            <mat-icon aria-label="Save">save</mat-icon>
            Guardar
        </button>
        <button style="margin-right: 10px;" mat-raised-button color="warn" (click)="cancel()" mat-dialog-close>
            <mat-icon aria-label="Cancel">cancel</mat-icon>
            Cancelar
        </button>

    </mat-dialog-actions>
  
  </form>
